<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">body, p, li, td {font-size: 16px; line-height: 150%; margin: 0; padding: 0;}
        a {color: #57068c !important;}
        </style>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    
    
    
    
    <body>
        <div class="row pt-5">
            <div class="col md-auto">
                <img style="box-sizing: border-box; height:32px!important; display: block; margin-left: auto; margin-right: auto; max-width: 100%;" data-image-state="ready" src="/static/NYU_logo.jpeg">
            </div>
        </div>

        <div class="row pb-3">
            <div class="col md-auto">
                <p style="font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 25.6px; line-height: 29.44px; margin: 0; padding-bottom: 13.6px; padding-top: 13.6px; text-align: center;">Daily COVID-19 Screener for Campus Access</p>
            </div>
        </div>

        
    <table role="presentation" width="100%">
    <tbody>
    <tr>
    <td>
    <table role="presentation" style="max-width: 550px; margin: 0 auto; font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif; border: none; border-collapse: collapse;">
    <tbody>
    <tr style="background: #28811e;">
    <td style="margin: 0; text-align: center; padding: 1rem 0;" valign="middle" width="50%">
    <h1 style="font-weight: bold; font-size: 1rem; line-height: 1.5rem; color: #fff; text-transform: uppercase; margin: 0;">Screener Status:<br>
    <span style="font-size: 4rem; line-height: 4rem; ">Pass</span></h1>
    </td>
    <td style="padding: 1rem 0;" valign="bottom" width="50%">
    <p style="color: #ffffff!important; font-size: .9rem;">For access to NYU buildings, you must also be approved to be on campus and comply with all health and safety protocols.</p>
    </td>
    </tr>
    <tr>

    <td colspan="2" style="padding: 1rem 0;" valign="middle">
    <p style="font-weight: bold; font-size: 1.5rem; line-height: 100%; margin: 0; padding-bottom: .5rem; text-align: center;">{{ name }}</p>

    <p style="font-weight: bold; font-size: 1.5rem; line-height: 100%; margin: 0; text-align: center;" valign="middle">{{ date }}</p>

    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>

    <table role="presentation" width="100%">
    <tbody>
    <tr>
    <td>
    <table role="presentation" style="max-width: 550px; margin: 0 auto; font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif; color: #333;">
    <tbody>
    <tr>
    <td style="padding-bottom: 20px;">
    <p style="padding-top: 15px;"><strong style="text-transform: uppercase">Remember</strong></p>

    <ul>
        <li>You need to show this screen result to a Campus Safety Officer at the building entrance</li>
        <li>You must always wear a face covering over your nose and mouth while on NYU property unless otherwise provided under University guidelines</li>
        <li>For a complete list of COVID-19-related protocols and guidelines visit the <a href="https://www.nyu.edu/nyureturns">NYU Returns website</a></li>
    </ul>

    <p><strong style="text-transform: uppercase">If You Start To Feel Sick</strong></p>

    <ol>
        <li>Immediately find a place away from others.</li>
        <li>Complete the <a href="https://www.nyu.edu/coronavirus/reporting">COVID-19 Reporting Form</a> to notify the NYU COVID-19 Prevention &amp; Response Team.</li>
        <li>Go home promptly.
        <ul>
        <li>If you are a faculty member or employee, alert your department chair or supervisor that you will be going home sick. You are not required to disclose any details about your medical history or experiences.</li>
        <li>If you live in an NYU Residence Hall or NYU apartment, you should stay in your room. If you share common spaces with other people, wear your face covering and separate yourself as much as possible. The NYU COVID-19 Prevention &amp; Response Team will contact you between the hours of 9:00 a.m.=E2=80=939:00 p.m.</li>
        </ul>
        </li>
        <li>If you need medical care or additional health guidance, contact the Student Health Center (students) or your personal medical provider (faculty and employees).</li>
    </ol>

    <p>
        <em>The NYU Daily COVID-19 Screener for Campus Access is not intended to take the place of consultation with your medical provider or for the diagnosis or treatment of disease or other conditions. If you're in an emergency medical situation, please call 911 or your local emergency number.</em>
    </p>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </body>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>